:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

input, button, textarea {
  outline: none;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

button {
  cursor: pointer;
  background-color: #0f4940;
  color: #fcfcfc;
}

button:hover {
  opacity: .7;
}

button:disabled {
  opacity: .5;
}

select:focus, input:focus, textarea:focus {
  border-color: #2bccb1;
}

.logo {
  animation: logo-animator 3s 2s infinite;
}

.consultor-card, .consultor-o-card {
  /* border: 1px solid #eee; */
  transition: border-color .3s ease;
  box-shadow: -1px 1px #fefefe;
}

.consultor-o-card {
  animation: consultor-o 1s 1s infinite;
}

@keyframes consultor-o {
  from{opacity: .8;}
  to{opacity: .6;}
}

.consultor-card:hover {
  box-shadow: 0 0 2px #eee;
}

@keyframes logo-animator {
  from{transform: rotate(0)}
  to{transform: rotate(360deg);}
}